{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Delete loop</h1>
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete loop  ?</p>
            <input type="submit" value="Confirm"/>
        </form>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
        <p> Or <a href="{% url 'signup' %}">signup here</a></p>

    {% endif %}
{% endblock content %}