{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            {% for task in task_list %}
                <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
            {% endfor %}
        </div>
        <a href='{% url 'task_delete_all' %}'>+ Delete all task</a>
        <a href='{% url 'loop_delete_finished' %}'>+ Delete finished loops</a>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
        <p> Or <a href="{% url 'signup' %}">signup here</a></p>

    {% endif %}



{% endblock content %}