{% extends 'index.html' %}

{% block edit_task %}
    <form class="tasks-block__edit tasks-edit tasks-head tasks-head-active" action=""
          method="post">
        {% csrf_token %}
        <div class="tasks-edit__text tasks-input-text">Ред. задачи:</div>
        {{ form.title }}
        {{ form.description }}
        <div class="tasks-list-elem__button tasks-list-elem__button-check">
            {{ form.is_finished }}
            <p>Отменить выполненной</p></div>
        <div class="tasks-edit__add tasks-add"><input type="submit" value="Р"/></div>
        <div class="tasks-edit__add tasks-add"><a href='{% url 'task_delete' task.pk %}'>X</a></div>
    </form>
{% endblock edit_task %}